.container {
  width: 100%;
}

/*Header*/

header {
  margin-top: 0px;
  height: 4rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0px;
}
nav div {
  display: flex;
  align-items: center;
}
nav img {
  height: 2rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
}
img {
  border-style: none;
}
ul {
  margin-right: 1.5rem;
}
ul li {
  display: inline;
  padding: 0px .5rem;
}
#colmar {
  font-weight: 800;
}
#academy {
  font-weight: 200;
}
.mobile-menu {
  display: none;
}

/*Body*/

.page-container div, .page-container section {
  border: 1px solid black;
}

.page-container {

}

.fc {
  display: flex;
  flex-direction: column;
}
.fr {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.rc-item {
  display: flex;
  width: 100%;
  height: 10rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.learning-item {
  width: 33.33%;
}

/*Banner*/
.banner {
  background-color: rgb(198, 200, 229);
  padding: 1.5rem;
}

.banner img {
  height: 30rem;
  background-color: rgb(198, 200, 229);
}

.banner > .fc.right {
  justify-content: center;
  width: 40%;
  padding: 1.5rem;
  text-align: left;
}

.start-button {
  color: white;
  text-align: center;
  margin-right: 4rem;
  padding: .5rem 0;
  background-color: rgb(110, 111, 127);
}

@media only screen and (max-width: 480px) {
  .banner, .learning > .fr {
    flex-direction: column;
  }
  .left, .right, .learning-item {
      width: 100%;
  }
  .sub-banner > .left, .thesis > .right {
    display: none;
  }
}

/*Sub-Banner*/

.sub-banner > .left {
  padding: 2rem 1.5rem;
}

.sub-banner > .right {
  padding: 2rem 1rem;
}

.sub-banner > .left > img {
  height: 20rem;
  overflow: hidden;
}

.rc-item > .izquierda {
  width: 35%;
}

.rc-item > .izquierda > img {
  width: 100%;
  height: auto;
}

.rc-item > .derecha {
  justify-content: flex-start;
  width: 65%;
}

.rc-item > .derecha > h4, p, span {
  padding: .5rem auto;
}

.rc-item.guest {
  background-color: rgb(198, 200, 229);
}

/*Learning*/

.section-header {
  width: 100%;
  padding: 2rem auto;
  text-align: center;
}

.learning-item img {
  width: 100%;
  height: auto;
}

.learning-item {
  align-items: center;
  justify-content: center;
}

.learning-item-text {
  padding: 1rem;
}

.learning-item-text > h4, p {
  padding: 0 .5rem;
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
}
