.container {
  width: 100%;
}

/*Header*/

header {
  margin-top: 0px;
  height: 4rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0px;
}
nav div {
  display: flex;
  align-items: center;
}
nav img {
  height: 2rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
}
img {
  border-style: none;
}
ul {
  margin-right: 1.5rem;
}
ul li {
  display: inline;
  padding: 0px .5rem;
}
#colmar {
  font-weight: 800;
}
#academy {
  font-weight: 200;
}
.mobile-menu {
  display: none;
}

/*Body*/

.page-container div, .page-container section {
  border: 1px solid black;
  min-height: 200px;
}

.page-container {

}

.fc {
  display: flex;
  flex-direction: column;
}
.fr {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.rc-item {
  width: 100%;
}

.learning-item {
  width: 33.33%;
}

/*Banner*/

.banner img {
  height: 30rem;
  padding: 2rem 1.5rem;
  background-color: rgb(198, 200, 229)
}

.banner > .fc.right {
  justify-content: center;
  padding-right: 8rem;
  background-color: rgb(198, 200, 229);
}

.start-button {
  text-align: center;
  margin-right: 4rem;
  padding: .5rem 0;
  background-color: rgb(110, 111, 127)
}

@media only screen and (max-width: 480px) {
  .banner, .learning > .fr {
    flex-direction: column;
  }
  .left, .right, .learning-item {
      width: 100%;
  }
  .sub-banner > .left, .thesis > .right {
    display: none;
  }
}
